body {
    background-color: #6988A0;
    overflow-x: hidden;
}

h2 {
    font-size: 1.8vw;
    color: white;
}

.title-box {
    margin-top: 10%;
    text-align: center;
}

.map-button-div {
    margin-top: 4vh;
}

.map-button {
    background-image: -webkit-linear-gradient(top, #FA756C 0%, #5A756C 100%);
    background-image:      -o-linear-gradient(top, #FA756C 0%, #F14A46 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FA756C), to(#F14A46));
    background-image:         linear-gradient(to bottom, #FA756C 0%, #F14A46 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA756C', endColorstr='#F14A46', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #F14A46;
    color: white;
}

.map-button:hover,
.map-button:focus {
    background-color: #F14A46;
    background-position: 0 -15px;
    border-color: #F14A46;
    color: white;
}

.map-button:active,
.map-button.active {
    background-color: #F14A46;
    border-color: #F14A46;
}