body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}


#map {
    height: 70vh;
    width: 100vw;
}

.hallProfile {
    text-align: center;
}

.hallCarousel {
    height: 40vh;
    width: 60vw;
}

.hallImage {
    margin: auto;
    height: inherit !important;
}

.addHallsForm {

}

.hall-profile-address {
    font-size: 2vw;
}

.hall-profile-uni {
    font-size: 2vw;
}

.review-title {
    text-align: center;
    font-size: 2vw;
}

.star-backer {
    padding-left: 0px;
    padding-right: 0px;
}

.star-image {
    width: 100%;
    height: auto;
}

.rating-text {
    text-align: right;
    font-size: 2vw;
    padding-top: 0.5vw;
}

.reviews {
    text-align: left;
    font-size: 1.5vw;
}

.review {
    text-align: left;
    border: solid ;
    border-width: 2px;
    padding: 8px;
}

.reviewer {
    font-size: 1.5vw;
}

.review-text {
    font-size: 1vw;
}

.location-text {
    font-size: 1vw;
}

.upload-file-thumbnail {
    height: 5vw;
    width: auto;

}

.upload-carossel {
    height: 20vh;
}

.image-remove {
    border: none;
    background: none;
    color: red;
    font-size: 21px;
}

.form-text {
    font-size: 1.5vw;
}

.university-drop-down {
    padding-left: 0px;
    padding-right: 0px;
}

.has-error .select2-selection {
    border: 1px solid #a94442;
    border-radius: 4px;
}

